* {
  box-sizing: border-box;
  text-align: center;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #1a3fad;
  width: 100vw;
}

h1 {
  /* position: fixed; */
  color: white;
  text-align: center;
  margin: 5% 0 5% 0;
  width: 100%;
  /* height: 5%; */
  padding: 0;
  font-size: 1.7em;
}

.container {
  display: flex;
  margin-bottom: 5%;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-content: stretch;
}

#child1 {
  display: flex;
  /* flex: 12; */
  width: 100%;
  margin-top: 10%;
  /* display: relative; */
  justify-content: center;
}

#child2 {
  display: flex;
  /* flex: 12; */
  width: 100%;
  /* max-height: 60%; */
  margin-top: 10%;
  margin-bottom: 5%;
  justify-content: center;
}

#startbox {
  width: 25%;
  height: 40%;
  text-align: center;
  padding: 1% 1%;
  margin: 1%;
  font-size: 1.5em;
  display: inline;
  vertical-align: middle;
  /* position: absolute; */
  /* left: 15%; */
  border: solid 2px rgba(71, 141, 211, 0.5);
  background-color: rgba(48, 165, 27, 0.657);
  color: white;
}

.aside {
  display: flex;
  justify-content: center;
}

.aside,
#playerName {
  flex: 12;
  border: 1px solid rgb(134, 129, 129);
  border-radius: 10px;
  background-color: aliceblue;
  width: 90vw;
  height: 30vw;
  text-align: center;
  position: relative;
  margin: 0;
  font-size: 0.75em;
}

#main-grid {
  display: flex;
  width: 95vw;
  height: 95vw;
  background-color: aliceblue;
  margin: auto;
  /* margin-top: auto;
  margin-left: 20px;
  margin-right: 0; */
  flex-wrap: wrap-reverse;
  flex-direction: row;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
  border-radius: 10px;
  justify-content: center;
}

.square {
  font-size: 0.45em;
  border: 1px solid lightslategray;
  opacity: 0.8;
  width: 10%;
  height: 10%;
  margin: 0;
  display: flex;
  position: relative;
  border-radius: 8px;
  /* flex: 1; */
  /* padding: 10px; */
  /* text-align: center; */
}

.square:hover {
  border: 3px solid dimgray;
  background-color: #888;
}

#input-box1,
#button1 {
  display: inline;
  width: 15%;
  height: 17%;
  /* padding: 3%; */
  margin: 1%;
  padding: 0 1%;
  vertical-align: middle;
  text-align: center;
  border: solid 2px rgba(71, 141, 211, 0.5);
  font-size: 1.5em;
}

#button1 {
  background-color: rgba(48, 165, 27, 0.657);
  color: white;
}

#button2 {
  display: inline;
  color: white;
  background-color: rgba(48, 165, 27, 0.657);
  height: 17%;
  /* padding: 3% */
  width: 15%;
  margin: 1%;
  padding: 0 1%;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  border: solid 2px rgba(71, 141, 211, 0.5);
}

#input-box2 {
  width: 15%;
  height: 17%;
  margin: 1%;
  padding: 0 1%;
  vertical-align: middle;
  border: solid 2px rgba(71, 141, 211, 0.5);
  text-align: center;
  font-size: 1.5em;
}

#button3 {
  color: white;
  background-color: rgb(232, 0, 0);
  width: 25%;
  height: 20%;
  text-align: center;
  margin: 1%;
  padding: 0 1%;
  vertical-align: middle;
  font-size: 1.5em;
}
/* .aside,
form {
  width: 80vw;
  height: 15vh;
} */
.catpix {
  width: 6vw;
  height: 6vw;
  position: absolute;
  top: 0;
  left: 0;
}

#trophy {
  max-width: 60%;
  max-height: 60%;
  margin: auto;
  /* position: fixed; */
  /* bottom: 20px;
  /* right: 0px; */
}

#placedice1,
#placedice2 {
  position: relative;
  display: inline;
  max-width: 40%;
  max-height: 15%;
  margin: 0;
}

#dice1,
#dice2 {
  display: inline;
  width: 15vw;
  height: 15vw;
  padding: 10px;
  position: relative;
}

.diceface {
  display: none;
  position: relative;
}

iframe {
  position: absolute;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 60%;
  left: 0%;
  top: 40%;
}

#face1,
#face2,
#face3,
#face4,
#face5,
#face6 {
  position: relative;
  width: 12vw;
  height: 12vw;
  padding: 4px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: flex-start;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 18%;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  width: 25%;
  height: 28%;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #fefefe;
  opacity: 0.9;
  font-size: 1.5em;
  padding: 5px;
  border: 1px solid #888;
  border-radius: 20px;
}

#player-name {
  font-size: 1em;
  width: 90%;
  padding: 0;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.snake {
  /* to overlay image on top of div */
  position: absolute;
  height: 7.5vw;
  width: 7.5vw;
  top: 0;
  left: 0;
}

.winner {
  /* to overlay image on top of div */
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  left: 0;
}

.ladder 
/* to overlay image on top of div */ {
  position: absolute;
  height: 7vw;
  width: 7vw;
  top: 0;
  left: 0;
}

#gameImage {
  display: inline;
  width: 45vw;
  margin: 0;
  position: relative;
  top: 115%;
}

/* add an animating class which start upon clicking the dices */
.rotate {
  transform-origin: center;
  animation: myAnimation 0.25s 0.5s ease-in-out 2;
}

/********************************** 
Add animations here
*********************************/

@keyframes myAnimation {
  from {
    transform: rotate(0deg) scale(0.25);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

/* Adjust styling for other devices below */

@media (min-width: 800px) {
  * {
    box-sizing: border-box;
  }

  body {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 2.5% 0;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 80%;
    align-content: space-between;
  }

  #child1 {
    /* flex: 4; */
    width: 53vw;
    height: 53vw;
    margin: 2.5% 5% 0 0;
    white-space: nowrap;
    display: flex;
    flex-direction: inherit;

    /* overflow: hidden; */
  }

  #main-grid {
    display: flex;
    flex-direction: row;
    /* white-space: nowrap; */
    /* width: inherit; */
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    margin: 0;
    /* display: inline-block; */
    /* margin-top: auto;
  margin-left: 20px;
  margin-right: 0; */
    flex-wrap: wrap-reverse;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    /* width: 60vw;
    height: 60vw; */
  }

  #child2 {
    /* flex: 1; */
    width: 25%;
    /* height: 120%; */
    margin: 2.5% 0;
    /* width: 25vw; */
  }

  .square {
    display: flex;
    font-size: 1.25em;
    height: 10%;
    width: 10%;
    position: relative;
    /* white-space: nowrap; */
    /*height: 4vw; */
  }
  #makeDraggable {
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;
  }

  h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 3% auto;
    width: 100%;
    padding: 2%;
    vertical-align: top;
    display: inline;
  }

  #input-box1,
  #button1 {
    display: inline;
    width: 37.5%;
    height: 7%;
    margin: 3% 2.5%;
    font-size: 2em;
  }

  #button3 {
    display: block;
    width: 80%;
    height: 7%;
    margin: 3% 5% 3% 10%;
    font-size: 2em;
  }

  #input-box2,
  #button2 {
    display: inline;
    width: 37.5%;
    margin: 3% 2.5%;
    height: 7%;
    font-size: 2em;
  }

  #dice1,
  #dice2 {
    display: inline;
    width: 7.5vw;
    height: 7.5vw;
    padding: 2%;
  }
  #makeDroppable {
    /* border: 1px solid red; */
    width: 100%;
  }
  #face1,
  #face2,
  #face3,
  #face4,
  #face5,
  #face6 {
    position: relative;
    width: 6vw;
    height: 6vw;
    padding: 5px;
  }

  .aside {
    width: 100%;
    height: 80%;
    margin: 0;
  }

  #playerName {
    /* flex: 2.5; */
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .giphy-embed {
    width: 10vw;
    height: 10vw;
    padding: 0;
    transform: scaleX(-1);
    position: relative;
    top: 20%;
  }

  .modal {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: flex-end;
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: -57%;
    top: 35%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border-radius: 10px;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content {
    width: 65%;
    height: 80%;
    font-size: 1.75em;
  }
  #player-name {
    font-size: 1.5em;
  }

  #player-name {
    width: 100%;
  }

  .catpix {
    width: 4vw;
    height: 4vw;
    text-align: center;
  }

  .ladder {
    width: 5vw;
    height: 5vw;
  }

  .snake {
    width: 7vw;
    height: 7vw;
  }

  #gameImage {
    display: inline;
    position: absolute;
    top: 45%;
    right: 8%;
    width: 25%;
    height: 35%;
  }

  #startbox {
    display: block;
    width: 80%;
    height: 7%;
    margin: 5% 10%;
    vertical-align: middle;
    font-size: 1.85em;
  }
}
