* {
  box-sizing: border-box;
}

body {
  border: 0;
  margin: auto;
  padding: 0;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  margin: 3% 0;
  max-width: 90vw;
  max-height: 5vh;
  padding: 0;
  font-size: 1.2em;
}

.container {
  display: flex;
  margin: auto auto 5% auto;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
}

#child1 {
  flex: 9.5;
  width: 75vw;
  margin: 0;
  display: relative;
}

#child2{
flex: 2.5;
width: 25vw
}

#startbox{
    flex: 4;
    width: 25vw;
    height: 5vh;
    text-align: center;
    padding: 3%;
    font-size: 1em;
    /* display: block; */
    vertical-align: middle;
    display: table-cell;
    border: 2px solid dimgray;
    position: relative;
    left: 15%;
    background-color: rgba(48, 165, 27, 0.657);
    color: white;
}

.aside, 
#playerName {
  flex: 3;
  border: 1px solid rgb(134, 129, 129);
  border-radius: 10px;
  background-color: aliceblue;
  width: 14vw;
  height: 70vw;
  text-align: center;
  position: relative;
  margin: 0;
  font-size: 0.75em;
}


#main-grid {
  display: flex;
  width: 70vw;
  height: 70vw;
  background-color: aliceblue;
  margin: auto;
  /* margin-top: auto;
  margin-left: 20px;
  margin-right: 0; */
  flex-wrap: wrap-reverse;
  flex-direction: row;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
  border-radius: 10px;
}

.square {
  font-size: 0.45em;
  border: 1px solid lightslategray;
  opacity: 0.8;
  width: 10%;
  height: 10%;
  margin: 0;
  display: flex;
  position: relative;
  border-radius: 8px;
  /* flex: 1; */
  /* padding: 10px; */
  /* text-align: center; */
}

.square:hover {
  border: 3px solid dimgray;
  background-color: #888;
}

#input-box1{
    display: block;
    width: 80%;
    height: 7%;
    /* padding: 3%; */
    margin: 5% auto;
    padding: auto;
    text-align: center;
    border-color: rgba(0, 0, 0, 0.4)
}

#button1, #button2{
    display: inline-block;
    color: white;
    background-color: rgba(48, 165, 27, 0.657);
    height: 7%;
    /* padding: 3% */
    width: 80%;
    margin: 5% auto;
    padding: 0;
    font-size: 0.5em;
    text-align: center;
}

#input-box2{
    width: 85%;
    height: 7%;
    margin: 5%;
    border-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

#button3{
    color: white;
    background-color: rgb(232,0,0);
    width: 85%;
    height: 12%;
    text-align: center;
    margin: 5%;
    padding: 1%;
}
/* .aside,
form {
  width: 80vw;
  height: 15vh;
} */
.catpix {
  max-width: 4.5vw;
  max-height: 4.5vw;
}

#trophy {
  max-width: 40%;
  max-height: 40%;
  margin: auto;
  /* position: fixed; */
  /* bottom: 20px;
  right: 0px; */ */
}

#placedice1,
#placedice2 {
position: relative;
  display: block;
  max-width: 80%;
  max-height: 15%;
  margin: 0;
}

#dice1,
#dice2 {
  display: block;
  max-width: 80%;
  max-height: 15%;
  padding: 3px;
  position: relative;
}

.diceface {
  display: none;
  position: relative;
}

iframe {
    /* position: relative; */
  justify-content: left;
  transform: scaleX(-1);
  display: block;
  width: 85%;
  height: 20%;
}

#face1,
#face2,
#face3,
#face4,
#face5,
#face6 {
    position: relative;
  max-width: 80%;
  max-height: 15%;
  padding: 4px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: flex-end;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: -17%;
  top: 4%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  width: 80px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #fefefe;
  opacity: 0.9;
  font-size: 0.5em;
  padding: 5px;
  border: 1px solid #888;
  border-radius: 20px;
}

#player-name {
    font-size:0.5em;
    padding: 0;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.snake {
  /* to overlay image on top of div */
  position: absolute;
  height: 7vw;
  width: 7vw;
  top: 0;
  left: 0;
}

.winner {
  /* to overlay image on top of div */
  position: absolute;
  width: 75vw;
  height: 59vw;
  
  top: 0;
  left: 0;
}


.ladder 
/* to overlay image on top of div */ {
  position: absolute;
  height: 5vw;
  width: 5vw;
  top: 0;
  left: 0;
}

/* Adjust styling for other devicse below */

@media (min-width: 600px) {
  body{
      text-align: center;
  }
  




.container {
display: flex;
flex-direction: row-reverse;
margin: auto auto 0 auto;
flex-wrap: wrap;
width: 100%;
}

  #child1{
    flex: 9.5;
    width: 75vw;
    height: 75vw;
    margin: 0;
    display: relative;
  }
  .main-grid {
  display: flex;
  width: 70vw;
  height: 70vw;
  background-color: aliceblue;
  margin: auto;
  /* margin-top: auto;
  margin-left: 20px;
  margin-right: 0; */
  flex-wrap: wrap-reverse;
  flex-direction: row;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
  border-radius: 10px;
    /* width: 60vw;
    height: 60vw; */
  }

  #child2{
      flex: 2.5;
      width: 25vw;
  }

  .square {
    font-size: 1em;
  }

h1{
    font-size: 2em;
    text-align: center;
    margin: 3% auto;
    width: 80vw;
    line-height: 10vh;
    padding: 5%;
    vertical-align: top;
    display: inline;
}


.aside,
form {
    width: 14vw;
    height: 70vw;
}

iframe {
    width: 85%;
    height: 20%;
}

#input-box1, #input-box2, #button1, #button2, #button3{
    font-size: 1.5em;
}

  .modal {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: flex-end;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: -18%;
    top: 10%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border-radius: 10px;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content, #player-name {
   
    font-size: 1.25em;
    
  }

}
